{% extends "base.html" %}

{% block content %}

<div class="error_msg">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}

  {% block page_content %}{% endblock %}
</div>

<h1>Order Summary</h1>
<div class="table">
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Seller</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col">Time Fulfilled</th>
        <th scope="col">Coupon Used</th>
        <th scope="col">Reason for Refund</th>

      </tr>
    </thead>
    <tbody>
      {% for item_summary in item_summaries %}
        <tr>
          <td><a href="{{ url_for('productpage.load_product') + '?pid=' + item_summary.pid|string }} ">{{item_summary.name}}</a></td>
          <td><a href= "{{ url_for('users.userpage') + '?uid=' + item_summary.sid|string}}">{{item_summary.seller}}</a></td>
          <td>{{item_summary.unit_price}}</td>
          <td>{{item_summary.quantity}}</td>
          <td>{{item_summary.total_price}}</td>
          {% if item_summary.status %}
            <td>{{item_summary.time_fulfilled}}</td>
          {% else %}
            <td>Unfulfilled</td>
          {% endif %}
          {% if item_summary.cid != 0 %}
            <td>{{item_summary.cid}}</td>
          {% else %}
            <td>No Coupon Used</td>
          {% endif %}
          {% if item_summary.status %}
          <td><div class="form">
            <form method="POST">
             {{refund_request_form.csrf_token }}
             {{refund_request_form.oid(value=item_summary.id, style="display: none")}}
             {{refund_request_form.sid(value=item_summary.sid, style="display: none")}}
             {{refund_request_form.reason}}
             {{refund_request_form.value(value=item_summary.total_price, style="display: none")}}
             {{refund_request_form.request}}
            </form>
          </div></td>
          {% else %}
            <td>Order not yet fulfilled.</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>   

<h1>Refund Requests</h1>
<div class="table">
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Refund ID</th>
        <th scope="col">Order ID</th>
        <th scope="col">Seller ID</th>
        <th scope="col">Refund Value</th>
        <th scope="col">Reason for Refund</th>
        <th scope="col">Refund Status</th>

      </tr>
    </thead>
    <tbody>
      {% for each in refund_requests %}
        <tr>
          <td>{{each.id}}</td>
          <td>{{each.oid}}</td>
          <td>{{each.sid}}</td>
          <td>{{each.value}}</td>
          <td>{{each.reason}}</td>
          {% if each.status %}
          <td>Refund Completed</td>
          {% else %}
          <td>Refund Pending</td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}

