{% extends "base.html" %}

{% block content %}

<h1> Profile: {{user.firstname + " " + user.lastname}} </h1>

{% if current_user.is_authenticated and (user.seller or current_user.id == user.id)%}
<h1> User ID: {{user.id}} </h1>
<h1> Email: {{user.email}} </h1>
<h1> Address: {{user.address}} </h1>
{% if current_user.id == user.id %}
  <h1> Balance: {{user.balance}} </h1>
{% endif %}
{% if user.seller %}
  <h1> Is Seller </h1>
{% endif %}
{% endif %}

{% if current_user.is_authenticated and current_user.id == user.id%}
    <a href="{{ url_for('userpage_modify.load_page') }}" style="width: 400px" type="button" class="btn btn-black"> Change Profile Information</a>
    <br><br>
    <h2>Your recent purchases:</h2>
    <div>
      <span class="form">
        <form method="post">
          {{filter_form_purchases.csrf_token }} 
          Sort By:
          {{filter_form_purchases.sort}}
          {{filter_form_purchases.order}}
          {{filter_form_purchases.search}}
        </form>
      </span>
    </div>
    <table class='table table-hover table-bordered container'>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Seller Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Price</th>
          <th scope="col">Time Purchased</th>

        </tr>
      </thead>
      <tbody>
        {% for purchase in purchase_history%}
          <tr>
            <th scope="row"><a href="{{ url_for('productpage.load_product') + '?pid=' + purchase.purchase.pid|string }}">{{purchase.product_name}}</a></th>
            <td><a href="{{ url_for('users.userpage') + '?uid=' + purchase.purchase.sid|string }}">{{purchase.seller_name}}</a></td>
            <td>{{purchase.purchase.quantity}}</td>
            <td>{{purchase.price}}</td>
            <td>{{purchase.purchase.time_purchased}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}

{% if user.seller %}
    <h2>Reviews for {{ user.firstname}} (Average: {{average}})</h2>
    <div>
      <span class="form">
        <form action="" method="post" novalidate>
          {{filter_form_for.csrf_token }} 
          Sort By:
          {{filter_form_for.sort}}
          {{filter_form_for.order}}
          {{filter_form_for.search}}
        </form>
      </span>
    </div>
    <div class="table">
        <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
            <tr>
            <th scope="col">Reviewer</th>
            <th scope="col">Rating</th>
            <th scope="col">Review</th>
            <th scope="col">Time</th>
            <th scope="col">Change Review</th>
            <th scope="col">Votes</th>
            <th scope="col">Upvote/Downvote</th>
            </tr>
            </thead>
            <tbody>
                {% for each in reviews_for_info%}
                  <tr>
                    <td>
                      <a href="{{ url_for('users.userpage') + '?uid=' + each.review.uid|string}}">{{each.reviewer_name}}</a>
                    </td>
                    <td>{{each.review.rating}}</td>
                    <td>{{each.review.content}}</td>
                    <td>{{each.review.review_time}}</td>
                    {% if current_user.is_authenticated and current_user.id|int == each.review.uid %}
                      <td><a href = "{{ url_for('review_modify.load_page') + '?id=' + each.review.id|string + '&purl=u' + user.id}}">Change Review</a></th>
                    {% else %}
                      <td> This is not your review!</td>
                    {% endif %}
                    {% if current_user.is_authenticated and vote_status[each.review.id] == 1%}
                    <td bgcolor = 'lime'>{{each.review.total_votes}}</td>
                    {% elif current_user.is_authenticated and vote_status[each.review.id] == -1%}
                    <td bgcolor = 'red'>{{each.review.total_votes}}</td>
                    {% else %}
                    <td>{{each.review.total_votes}}</td>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <td><div class="form">
                    <form method="POST">
                    {{vote_form.csrf_token }}
                    {{vote_form.rid(value=each.review.id, style="display: none")}}
                    <div bgcolor="pink">{{vote_form.upvote}}</div>
                    {{vote_form.downvote}} 
                    </form>
                    </div></td>
                    {% else %}
                    <td>Please log in to vote.</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endif %}
<body>
{% if current_user.is_authenticated and user.seller and current_user.id != user.id %}
  {% if has_bought %}
  <h2 style="display: flex; justify-content: center;">Write a Review</h2>

  <div style="display: flex; justify-content: center;">
    <div style="font-size: 20px; padding-left: 20px;">
      <form action="" method="post">
        {{review_add_form.csrf_token }} 
        Rating:
        {{review_add_form.rating}}
        Content:
        {{review_add_form.content}}
        {{review_add_form.submit_review}} 
      </form>
    </div>
  </div>
  {% elif has_bought and not user_review %}
    <h2 style="display: flex; justify-content: center;">You have already written a review!</h2>
  {% else %}
    <h2 style="display: flex; justify-content: center;">You must have bought an item from this person to leave a review!</h2>
  {% endif %}
  <br>
</body>
{% endif %}

<body>
  <h2>Reviews by {{ user.firstname}}</h2>
  <div>
    <span class="form">
      <form action="" method="post" novalidate>
        {{filter_form_by.csrf_token }} 
        Sort By:
        {{filter_form_by.sort}}
        {{filter_form_by.order}}
        {{filter_form_by.search}}
      </form>
    </span>
  </div>
  <div class="table">
      <table class='table table-hover table-bordered container'>
      <thead class="thead-dark">
          <tr>
          <th scope="col">Reviewer</th>
          <th scape="col">Person/Product</th>
          <th scope="col">Rating</th>
          <th scope="col">Review</th>
          <th scope="col">Time</th>
          {% if current_user.id == user.id %}
            <th scope="col">Change Review</th>
          {% endif %}

          </tr>
          </thead>
          <tbody>
              {% for each in reviews_by_info%}
                <tr>
                  <td>
                    <a href="{{ url_for('users.userpage') + '?uid=' + each.review.uid|string}}">{{each.reviewer_name}}</a>
                  </td>
                  <td>
                    {% if each.review.is_seller %}
                      <a href="{{ url_for('users.userpage') + '?uid=' + each.review.rid|string}}">{{each.reviewed_name}}</a>
                    {% else %}
                      <a href="{{ url_for('productpage.load_product') + '?pid=' + each.review.rid|string}}">{{each.reviewed_name}}</a>
                    {% endif %}
                  </td>
                  <td>{{each.review.rating}}</td>
                  <td>{{each.review.content}}</td>
                  <td>{{each.review.review_time}}</td>
                  {% if current_user.is_authenticated and current_user.id == user.id %}
                    <td><a href = "{{ url_for('review_modify.load_page') + '?id=' + each.review.id|string + '&purl=u' + user.id }}">Change Review</a></th>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
      </table>
  </div>
<body>
{% endblock %}